[submodule "src/request-script/test/testModules/bats-core"]
	path = src/request-script/test/testModules/bats-core
	url = https://github.com/bats-core/bats-core.git
[submodule "src/request-script/test/testModules/bats-support"]
	path = src/request-script/test/testModules/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "src/request-script/test/testModules/bats-assert"]
	path = src/request-script/test/testModules/bats-assert
	url = https://github.com/bats-core/bats-assert.git
